div.svg-div {
    margin: 7.5px;
}

.services {
    flex-wrap: wrap;
}

img {
    height: 175px;
}

ins {
    display: inline;
    margin: 10px;
}

main.main {
    width: 70%;
    border-radius: 10px;
}

hr {
    border-top: 0.25px solid rgb(182, 181, 181);
    height: 0;
    background: none;
    border-radius: 0;
}

#response {
    background-color: rgb(233, 233, 233);
    border: none;
}

header nav {
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.form div {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

div.form div input.input {
    padding: 0.5vmin;
    border: 2px solid #f1f3f4;
    border-radius: 500px;
    background-color: #f1f3f4;
    width: 100%;
    padding-left: 40px;
    font-size: 13px;
    outline: none;
    transition: .3s background-color, .3s border;
}

div.form div input.input:hover {
    background-color: #e1e3e4;
    border: 2px solid #e1e3e4;
}

div.form div input.input:focus {
    background-color: rgb(255, 251, 251);
    border: 2px solid rgb(157, 185, 230);
}

div.form div input.input:focus+i {
    color: rgb(216, 216, 216);
}

div.form div i {
    margin-left: 15px;
    position: absolute;
    padding: 0;
    left: 0;
    color: rgb(179, 179, 179);
    border-radius: 10px;
    padding: 5px;
    transition: .3s background-color, .3s color;
    cursor: pointer;
}

div.form div i:hover {
    background-color: rgb(223, 223, 223);
}

i.goodbye {
    display: none;
    color: red;
}

.tab {
    margin-top: 2rem;
    box-shadow: 0px 0px 20px 2px #68b0ab;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
    border-radius: 10px;
}

.tab .header {
    background-color: rgb(232, 228, 234);
    border: none;
    border-radius: 10px;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.dotrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 115px;
}

.services-selected {
    margin-right: 20px;
}

.services-selected p {
    font-size: 12px;
    font-weight: 200;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    color: rgb(139, 139, 139);
}

#number_of_services {
    font-weight: 400;
    margin-left: 2px;
    color: rgb(141, 141, 141);
}

#services_selected {
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#services_selected div div {
    margin: 0 20px 15px 20px;
    transition: .3s all;
}

.dot {
    height: 12.5px;
    width: 12.5px;
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
    margin: 8px 4px;
    cursor: pointer;
}

.dot:nth-child(1) {
    margin-left: 20px;
}

.red {
    background-color: rgb(219, 96, 93);
}

.yellow {
    background-color: rgb(234, 193, 67);
}

.green {
    background-color: rgb(115, 206, 54);
}

.tab .main {
    background-color: rgba(255, 255, 255, 0.95);
    border: none;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0px 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

h3 {
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 1rem;
    color: rgb(78, 78, 78);
}

h2 {
    margin-left: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.6rem;
}

.services {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

div.svg-div svg {
    height: 25px;
    background-color: transparent;
}

.hover-effect:hover {
    background-color: rgb(224, 224, 224);
    border: 2px solid rgb(224, 224, 224);
}

.section:last-child {
    margin-bottom: 60px;
}

button.button {
    padding: 1vmin;
    border: none;
    border-radius: 10px;
    border-top: none;
    cursor: pointer;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #407088c0;
    transition: all 0.5s;
    letter-spacing: 2px;
    font-size: 16px;
    color: #fff;
    font-weight: 200;
    text-align: center;
    outline: none;
    width: 100%
}

button.button:hover {
    background-color: #407088;
}

.svg-div {
    padding: 15px;
    background-color: rgb(238, 238, 238);
    border-radius: 50%;
    border: 2px solid rgb(238, 238, 238);
    transition: .2s border ease-in-out, .2s background-color ease-in-out, .2s box-shadow ease-in-out;
    cursor: pointer;
}

.selected {
    border: 2px solid rgb(157, 185, 230);
    background-color: rgb(230, 230, 255);
    box-shadow: 0px 3px 4px 0px rgba(176, 189, 221, 0.692);
}

.brand_name {
    font-size: 14px;
    font-weight: 300;
    color: rgb(139, 139, 139);
}

#myDiv {
    width: 70%;
    box-shadow: 0px 0px 20px 2px #68b0ab;
    margin-bottom: 10vh;
    border-radius: 10px;
    scroll-behavior: smooth;
}

#myDiv svg {
    border-radius: 10px;
}

.a-button {
    width: 100%;
}


/* responsive design: mobile devices */

@media only screen and (max-width: 650px) {
    main.main {
        width: 95%;
    }
    #myDiv {
        width: 95%;
    }
}

@media only screen and (max-width: 375px) {
    .title {
        font-size: 28px;
    }
    .about {
        font-weight: 400;
        margin: 20px;
    }
}