/* SVGs are selected in the same way they are display on the website */

svg#google {
    fill: #4285f4;
}

svg#amazon {
    fill: #ff9900;
}

svg#facebook {
    fill: #1877f2;
}

svg#apple {
    fill: #999999;
}

svg#microsoft {
    fill: #00A4EF;
}

svg#instagram {
    fill: #5851db;
}

svg#tiktok {
    fill: #000;
}

svg#snapchat {
    fill: #fffc00;
}

svg#twitter {
    fill: #1da1f2;
}

svg#tinder {
    fill: #fe3c72;
}

svg#reddit {
    fill: #ff4500;
}

svg#discord {
    fill: #7289da;
}

svg#lastpass {
    fill: #d32d27;
}

svg#evernote {
    fill: #00a82d;
}

svg#trello {
    fill: #0079bf;
}

svg#todoist {
    fill: #e44332;
}

svg#skype {
    fill: #00aff0;
}

svg#mozilla-org {
    fill: #ff7139;
}

svg#nytimes {
    fill: #000;
}

svg#cnn {
    fill: #cc0000;
}

svg#medium {
    fill: #000;
}

svg#wikipedia {
    fill: #000;
}

svg#youtube {
    fill: #FF0000;
}

svg#netflix {
    fill: #e50914;
}

svg#hulu {
    fill: #3dbb3d;
}

svg#crunchyroll {
    fill: #f47521;
}

svg#twitch {
    fill: #9146ff;
}

svg#itunes {
    fill: #FB5BC5;
}

svg#spotify {
    fill: #1ed760;
}

svg#soundcloud {
    fill: #ff3300;
}