body {
  font-family: 'Roboto', sans-serif;
  background-color: #121212de;
  color: white;
}

h1 {
  text-align: center;
  margin-top: 15px;
}

.form-check {
  margin: 10px;
}

.dropdown {
  margin-bottom: 12px;
  margin-left: 12px;
}

button {
  margin-left: 12px;
  width: 20%;
  height: 50px;
}

label {
  margin-left: 12px;
}

table {
  width: 100%;
  margin-top: 35px;
  margin-bottom: 50px;
}

table, th, td {
  border: 2px solid black;
  text-align: center;
}
td {
  width: 10%;
}
.sub-form-container {
  text-align: left;
}