body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(#61a5e6 60%, #d84237b0);
  color: black;
}

h1 {
  text-align: center;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 35px;
  border: 3px solid black;
  padding: 12px;
  width: 50%;
}

.form-check {
  margin: 10px;
}

.dropdown {
  margin-bottom: 12px;
  margin-left: 12px;
}

button {
  margin-left: 12px;
  width: 20%;
  height: 50px;
}

label {
  margin-left: 12px;
}

table {
  margin: 8px;
  margin-bottom: 50px;
}

table,
th,
td {
  border: 3px solid black;
  text-align: center;
}
td {
  width: 10%;
}
.sub-form-container {
  text-align: left;
}

.btn-danger {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

#instructions {
  margin: 20px;
}